{% extends 'main/base.html' %}

{% block title %}Управление школой{% endblock %}

{% block content %}
{% load static %}
<main>
   <!-- breadcrumb area start -->
   <div class="breadcrumb__area include-bg pt-200 pb-150 breadcrumb__overlay"
      data-background="{% static 'main/img/breadcrumb/breadcrumb-bg-1.png' %}">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="breadcrumb__content p-relative z-index-1">
                  <h3 class="breadcrumb__title">Управление школой</h3>
                  <div class="breadcrumb__list">
                     <span><a href="{% url 'index' %}">Главная страница</a></span>
                     <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                     <span><a href="{% url 'manager' %}">Управление школой</a></span>
                     <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                     <span><a href="{% url 'manager_course_list' %}">Список курсов</a></span>
                     <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                     <span><a href="{% url 'manager_lesson_list' lesson.course.id %}">Список занятий</a></span>
                     <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                     <span>Удалить занятие</span>
                     <hr>
                     <span><a href="{% url 'logout' %}">ВЫХОД ИЗ АККАУНТА</a></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- breadcrumb area end -->

   <!-- Personal course Area Strat-->
   <div class="postbox__area pt-120 pb-120">
   <div class="container mt-5">
      <div class="card shadow-sm p-4">
        <h2 class="text-danger mb-4">Вы уверены, что хотите удалить курс:</h2>
        <h4 class="mb-4 text-dark-emphasis"><strong>{{ lesson.title }}</strong>?</h4>

        <form method="post">
          {% csrf_token %}
          <div class="d-flex gap-3">
            <button type="submit" class="btn btn-danger">🗑 Да, удалить</button>
            <a href="{% url 'manager_lesson_list' lesson.course.id %}" class="btn btn-secondary">❌ Отмена</a>
          </div>
        </form>
      </div>
    </div>
</div>
   <!-- Personal course Area End-->

</main>
{% endblock %}







