{% extends 'main/base.html' %}

{% block title %}Управление школой{% endblock %}

{% block content %}
{% load static %}


<main>
   <!-- breadcrumb area start -->
   <div class="breadcrumb__area include-bg pt-200 pb-150 breadcrumb__overlay"
      data-background="{% static 'main/img/breadcrumb/breadcrumb-bg-3.jpg' %}">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="breadcrumb__content p-relative z-index-1">
                  <h3 class="breadcrumb__title">Управление школой</h3>
                  <div class="breadcrumb__list">
                     <span><a href="{% url 'index' %}">Главная страница</a></span>
                     <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                     <span>Администрирование</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- breadcrumb area end -->

   <!-- Personal course Area Strat-->
   <div class="postbox__area pt-120 pb-120">
   <div class="container">
      <div class="breadcrumb__list-2">
         <span>ДОБРО ПОЖАЛОВАТЬ, {{user.username}}</span>
         <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
         <span><a href="{% url 'logout' %}">ВЫЙТИ ИЗ АККАУНТА</a></span>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="postbox__wrapper pr-30">


               {% for course in user_courses %}
               <article class="postbox__item format-image mb-50 transition-3">
                  <div class="postbox__thumb w-img">
                     <a href="{% url 'blog_details' blog.id %}">
                        <img src="{{ blog.image }}" alt="">
                     </a>
                  </div>
                  <div class="postbox__content">
                     <div class="postbox__meta">
                        <span><i class="far fa-calendar-check"></i> {{ course.start_date }} </span>
                        <span><i class="far fa-calendar-check"></i> {{ course.end_date }} </span>
                        <span><i class="far fa-user"></i> {{ course.skill }} </span>
                     </div>
                     <h3 class="postbox__title">
                        <a href="{% url 'blog_details' blog.id %}">{{ course.title }}</a>
                     </h3>
                     <div class="postbox__text">
                        <p>{{ course.description}}</p>
                     </div>
                     <div class="postbox__read-more">
                        <a href="{% url 'blog_details' blog.id %}" class="tp-btn"> <span>Читать полностью</span>
                           <div class="transition"></div>
                        </a>
                     </div>
                  </div>
               </article>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
   <!-- Personal course Area End-->

</main>
{% endblock %}
